@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

* {
  font-family: "Source Code Pro", monospace;
}

body {
  background-color: rgb(18, 18, 18);
  display: flex;
  flex-direction: column;
  color: rgb(43, 198, 37);
}

h1 {
  font-size: 1rem;
}

span {
  color: rgb(255, 0, 247);
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #464646;
  transition: background-color 0.17s ease, color 0.17s ease;
}

.button:hover {
  background-color: #4741ff;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  min-width: fit-content;
  margin-top: 2rem;
}

.console-clear {
  color: #000000;
  background-color: #ff7d71;
}

.console-clear:hover {
  color: #000000;
  background-color: #ff5445;
}
